body {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-size: 13px;
    margin: 25px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 39px;
}

pre {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a img {
        border: none;
    }

#razor .tag {
    background-color: yellow;
}

#razor .comment {
    color: darkgreen;
}

#fsharp .keyword {
    color: blue;
}

#fsharp .string {
    color: maroon;
}

    #fsharp .string a {
        color: maroon;
    }

#csharp .keyword {
    color: blue;
}

#csharp .string {
    color: #a31515;
}

    #csharp .string a {
        color: #a31515;
    }

#csharp .type {
    color: #2b91af;
}

#python .keyword {
    color: blue;
}

#python .string {
    color: #a31515;
}

    #python .string a {
        color: #a31515;
    }

#python .comment {
    color: green;
}

#tabs-container {
    margin: 0 auto;
}

#html5 {
    text-align: right;
}
